<div class="container">

  <%= form_for @user, :url => url_for(controller: "sessions", action: "create"), :html => {class: "form-signin"} do |t| %>
    <div class="form-group">
      <%= t.label :email, "E-mail" %><br>
      <%= t.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= t.label :password, "Enter your Password" %><br>
        <%= t.password_field :password, class: "form-control" %>
    </div>

    <div class="actions">
      <%= t.submit "Sign In", class: "btn btn-primary" %>
    </div>

  <% end  %>

</div>