
<div class = "container">

  <h1>
    <%= @mission.name %>
  </h1>

    <%= link_to "Edit Mission", edit_mission_path(@mission) %>
    <%= button_to "Delete Mission", @mission, method: :delete, data: {confirm: "Are You Sure?"} %>

  <%=form_with model: @mission, url: completed_path, method: :patch do |form|%>
  <%=form.hidden_field :id, value: @mission.id %>
  <%=form.submit @mission.format_completed_button %>
    <%# <%=  "Complete Mission", completed_path, method: :completed %> 
    <%#= link_to "Complete Mission", @mission, method: :completed, data: {confirm:"Are you Sure?"}%>
    
  <% end %>

            <% @mission.tasks.each do |t|%>

          <h4>
          <%= t.description%>
          </h4>
            <%= link_to "Edit Tasks", edit_task_path(t) %>

            <%= button_to 'ðŸ—‘ï¸', t, method: :delete, data: { confirm: "Are You Sure?" } %> 
            
            <%end%>





</div>
        

  
<br><br>

<%# <div class="container">



  <h2>Completed Missions</h2>

 
</div> %>