
<div class = "container">

  <h1>
    <%= @mission.name %>
  </h1>


    <%= link_to "Edit Mission", edit_mission_path(@mission) %>



    <%= button_to "Completed", @mission, method: :completed, data: {confirm: "Are You Sure?"}%>

      <% @mission.tasks.each do |t|%>

  <h4>
  <%= t.description%>
  </h4>
    <%= link_to "Edit Tasks", edit_task_path(t) %>
    <%= button_to 'ðŸ—‘ï¸', t, method: :delete, data: { confirm: "Are You Sure?" } %> 

<%end%>
</div>


<br><br>

<div class="container">



  <h2>Completed Missions</h2>

  <%# <%= render partial: '/completed', :locals => {mission: => @mission} %> 
</div>